<p id="notice"><%= notice %></p>

<p>
  <strong>Font1:</strong>
  <%= @scheme.font1 %>
</p>

<p>
  <strong>Font2:</strong>
  <%= @scheme.font2 %>
</p>

<p>
  <strong>Color1:</strong>
  <%= @scheme.color1 %>
</p>

<p>
  <strong>Color2:</strong>
  <%= @scheme.color2 %>
</p>

<p>
  <strong>Color3:</strong>
  <%= @scheme.color3 %>
</p>

<p>
  <strong>Color4:</strong>
  <%= @scheme.color4 %>
</p>

<p>
  <strong>Color5:</strong>
  <%= @scheme.color5 %>
</p>

<%= link_to 'Edit', edit_scheme_path(@scheme) %> |
<%= link_to 'Back', schemes_path %>
