<!DOCTYPE html>
<html>
<head>
  <!-- <link rel="stylesheet" href= "assets/css/stylesheet.css"> -->
  <title>Chromadillo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
        <img src=<%= asset_path('chromadillo-logo-white.png') %>>
      </header>
<!--    <aside>

      </aside> -->
<!--       <div class = "container">
        <h1 style= "font-family:  <%= @header_typeface = humanist_sans %>"><%= @header_typeface %></h1>
        <br>
        <p style= "font-family:  <%= @body_typeface = humanist_serif %>"><%= @body_typeface %> lorem ipsum dolor sit amet, id prima prodesset ius, no saepe sanctus eam. In utroque patrioque nec. Ad eius viris neglegentur eam, ex eos albucius lobortis. Possim epicurei mnesarchum ne eos. Clita soleat prompta eum cu, vis ut epicuri intellegebat. Cu mea laudem aliquid. An eam hinc duis, ea volumus conceptam usu.</p>
        <br> <br>
      <section>

        <div class="c1" style= "Background-color: <%= random_color %>">
          <small> #random_color </small>
        </div>
        <div class="c2" style= "Background-color: <%= random_color %>">
          <small> #random_color </small>
        </div>
        <div class="c3" style= "Background-color: <%= random_color %>">
          <small> #random_color </small>
        </div>
        <div class="c4" style= "Background-color: <%= random_color %>">
          <small> #random_color </small>
        </div>
        <div class="c5" style= "Background-color: <%= random_color %>">
          <small> #random_color </small>
        </div>
      </section>
      </div>
 -->
 <% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

<%= yield %>

<script>


 //   $('div').on('mouseover', function() {
 //   $(this).toggleClass('show-description');
 // });

 //  $('div').on('mouseout', function() {
 //  $(this).toggleClass('show-description');
 // });

</script>


  <link rel='stylesheet' type='text/css' href="//fonts.googleapis.com/css?family=Fjalla+One|Open+Sans|Raleway|Roboto|Cabin|Droid+Sans|Gill+Sans|Open+Sans|Verdana|Palatino|Crimson+Text|Garamond|Cardo|Merriweather|Ubuntu|Oswald|Alegreya+Sans|Raleway|Exo|Helvetica|PT+Sans|Source+Sans+Pro|Trebuchet+MS|Arvo|Bitter|Coustard|Patua+One|Rockwell|Lora|Droid+Serif|Poly|Playfair+Display|Bodoni|Didot|Old+Standard+TT|Oranienbaum" >
</body>
</html>
